<span style="display: block; text-align: center; font-family: Time New Roman; font-size: 24px; color: black; text-decoration: underline">**Python-Stock: Historical Stock Prices Downloads**</span>

<span style="display: block; text-align: right; font-family: Time New Roman; font-size: 10px; color: black; text-decoration: underline">**Author: Luisa M Rodríguez-Fajardo** </span>

<span style="display: block; text-align: left; font-family: Time New Roman; font-size: 18px; color: black; text-decoration: underline">**Step 1. Import all libraries to be necessary**</span>

In [1]:
# Import Libraries

#Refinitiv Eikon Libraries 
import eikon as ek 
ek.set_app_key('Refinitiv Eikon-Key') 
from datetime import datetime
import refinitiv.data as rd

# Others Libraries
import numpy as np
import pandas as pd
import cufflinks as cf
import matplotlib as plt
import yfinance as yf
import seaborn as sns

In [2]:
# Ignore unnecessary warnings. 
import warnings
warnings.filterwarnings('ignore')

<span style="display: block; text-align: left; font-family: Time New Roman; font-size: 14px; color: black"> Remember that when using Python for downloader data from Refinitiv, you will need either each stock´s PermID or Ticket symbol. (Explined in the script "Variable Code Finder in Refinitiv").</span>

<span style="display: block; text-align: left; font-family: Time New Roman; font-size: 18px; color: black;text-decoration: underline">**Step 2. Download Refinitiv data. Low and High Frequency**</span>

<span style="display: block; text-align: left; font-family: Time New Roman; font-size: 14px; color: black">The data in low frequency are the data in yearly, quarterly, monthly, and daily. Generally, this data is used for the analysis to stocks in long-term. High-frequency data is critical to a wide range of activities in financial markets, for example investors and financial institutions use high-frequency data to develop and execute algorithmic trading strategies. For this example, downloader the Close Price, ASK, BID, etc...</span>

In [3]:
# Option 1. This option is ideal for both high and low frequency data

# Download the complete series of closing prices, opening prices, traded volume, low and high price. 
# This method can use single RIC (Ticket or PermID) or List of RICs (Tickets or PermIDs). 
# Notice that the data panel does not grow down but to the right.

# You can adjust the start and end date you want for your data, 
# the frequency (interval = 'minute', 'hour', daily, monthly, quarterly and yearly)


# Other option is to change the distribution of the data it would be, 
# normalize=True, and the data takes the form of panel data that grows downward.

# Download data. Example low frequency

df = ek.get_timeseries(['GOOGL.O', 'TSLA.O'], start_date='2020-01-01', end_date='2023-12-31', interval="yearly",
                       fields=['CLOSE', 'OPEN', 'LOW', 'HIGH'], normalize=False)
                                
df

Security    GOOGL.O                                     TSLA.O              \
Field         CLOSE     OPEN       LOW        HIGH       CLOSE        OPEN
Date
2020-12-31   87.632  67.4205   50.4435     92.1915  235.223098   28.299972
2021-12-31  144.852     88.0  84.80507    150.9665  352.259648   239.81976
2022-12-31    88.23  145.055     83.34  151.546575      123.18  382.582951
2023-12-31   139.69   89.585     84.86      142.68      248.48      118.47

Security
Field             LOW        HIGH
Date
2020-12-31   23.36731  239.573094
2021-12-31  179.82982  414.496252
2022-12-31     108.24  402.666264
2023-12-31     101.81      299.29

In [4]:
# Option 2. High Frequency. In this option can specify the exact day, hour and minute can start

# Download data. Example High frequency

df = ek.get_timeseries(['GOOGL.O'], start_date = "2020-02-01T15:04:05", interval="hour")
                                
df

GOOGL.O                HIGH     LOW      OPEN   CLOSE  COUNT  VOLUME
Date
2023-10-02 09:00:00  131.98  131.41     131.8   131.7    248    7695
2023-10-02 10:00:00   131.7  130.64    131.69  130.75    456   14475
2023-10-02 11:00:00  130.96   130.5    130.75  130.67    339    9208
2023-10-02 12:00:00  130.98  130.36    130.71  130.53    664   21645
2023-10-02 13:00:00  131.97  130.08    130.75  130.34   1832   60187
...                     ...     ...       ...     ...    ...     ...
2024-02-14 10:00:00   146.2  145.47     146.0   146.2    670   19709
2024-02-14 11:00:00  146.27  146.03     146.2  146.08    547   17767
2024-02-14 12:00:00  146.27  145.98    146.09  146.23    633   32213
2024-02-14 13:00:00   146.6  146.15    146.24  146.33   1040   41575
2024-02-14 14:00:00  146.58   145.0  146.2206  146.07   2011  125875

[1490 rows x 6 columns]

In [5]:
# Option 3. Low Frequency.
# You can get the same information as above but this time in the form of panel data that grows downward.

# Frq = FY (fiscal year), Q (quaterly), M(monthly), D(daily)

df, err = ek.get_data(instruments = ['GOOGL.O','AAPL.O','TSLA.O'],
                      
                      fields = ["TR.PriceClose.Date", "TR.PriceClose","TR.PriceOpen",'TR.ASKPRICE','TR.BIDPRICE'],
                      
                      parameters = {'SDate':'2020-01-01', 'EDate':'2023-12-31' ,'Frq': 'FY', 'Curn':'USD'})

df

,Instrument,Date,Price Close,Price Open,Ask Price,Bid Price
0,GOOGL.O,2020-12-31T00:00:00Z,87.632,86.8635,87.638,87.541
1,GOOGL.O,2021-12-31T00:00:00Z,144.852,146.05,144.9045,144.8515
2,GOOGL.O,2022-12-30T00:00:00Z,88.23,86.98,88.24,88.22
3,GOOGL.O,2023-12-29T00:00:00Z,139.69,139.63,139.71,139.7
4,AAPL.O,2020-12-31T00:00:00Z,132.69,134.08,132.61,132.58
5,AAPL.O,2021-12-31T00:00:00Z,177.57,178.085,177.62,177.59
6,AAPL.O,2022-12-30T00:00:00Z,129.93,128.41,129.94,129.91
7,AAPL.O,2023-12-29T00:00:00Z,192.53,193.9,192.54,192.49
8,TSLA.O,2020-12-31T00:00:00Z,235.223098,233.329767,235.166432,235.069765
9,TSLA.O,2021-12-31T00:00:00Z,352.259648,357.814442,352.412981,352.296314
10,TSLA.O,2022-12-30T00:00:00Z,123.18,119.95,123.27,123.24
11,TSLA.O,2023-12-29T00:00:00Z,248.48,255.1,248.49,248.48

In [6]:
# Option 4. Other way to High and Low Frequency

# intervals are: tick, tas, taq, minute, 1min, 5min, 10min, 30min, 60min, hourly, 1h, daily, 1d, 1D, 7D, 7d,
# weekly, 1W, monthly, 1M, quarterly, 3M, 6M, yearly, 1Y, etc.

rd.open_session()

df = rd.get_history(universe=['GOOGL.O'], fields=["BID", "ASK"], interval="30min")

df

GOOGL.O                 BID     ASK
Timestamp
2024-02-13 20:30:00  145.12  145.14
2024-02-13 21:00:00  145.26  145.29
2024-02-13 21:30:00   145.2  145.23
2024-02-13 22:00:00   145.2   145.3
2024-02-13 22:30:00  145.22   145.3
2024-02-13 23:00:00  145.27  145.33
2024-02-13 23:30:00  145.15   145.2
2024-02-14 00:00:00  145.14  145.16
2024-02-14 00:30:00  145.16  145.21
2024-02-14 09:00:00  145.78  145.85
2024-02-14 09:30:00  146.12  146.23
2024-02-14 10:00:00  146.06  146.14
2024-02-14 10:30:00  146.08  146.14
2024-02-14 11:00:00   146.1  146.15
2024-02-14 11:30:00  146.24   146.3
2024-02-14 12:00:00  146.45   146.5
2024-02-14 12:30:00  146.27  146.35
2024-02-14 13:00:00   146.2   146.3
2024-02-14 13:30:00  146.05  146.12
2024-02-14 14:00:00  146.02   146.1

In [7]:
# Option 5. Other way to High Frequency

# Import libraries

import refinitiv.data as rd
from refinitiv.data.content import historical_pricing
from refinitiv.data.content.historical_pricing import Intervals
from refinitiv.data.content.historical_pricing import Adjustments
from refinitiv.data.content.historical_pricing import MarketSession
from refinitiv.data.content.historical_pricing import summaries
import datetime


df = historical_pricing.summaries.Definition("IBM",interval=Intervals.FIVE_MINUTES, 
                                                   start="2023-03-01",end="2023-03-30", fields=["OPEN_PRC"]).get_data()
df.data.df

IBM                  OPEN_PRC
Timestamp
2023-03-01 00:00:00     129.3
2023-03-01 00:10:00    129.29
2023-03-01 00:15:00    129.29
2023-03-01 00:20:00    129.29
2023-03-01 00:30:00     129.0
...                       ...
2023-03-29 23:20:00    129.58
2023-03-29 23:25:00    129.71
2023-03-29 23:40:00    129.72
2023-03-29 23:50:00    129.72
2023-03-29 23:55:00    129.71

[3209 rows x 1 columns]

End